@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';
.FormLayout {
	// width: 30%;
	// height: auto;
	&--Logo {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
	}
	&--TitleContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2.5rem;
	}
	&--Title {
		color: $color-primary;
		font-size: 2.8rem;
		font-style: normal;
		font-weight: 600;
		// line-height: 110%;
	}
	&--SubTitle {
		color: $color-primary;
		text-align: center;
		font-size: 1.6rem;
		font-style: normal;
		font-weight: 400;
		// line-height: 140%;
	}
}
