@import '../../../styles/sass/variables';
.MarkerButton {
	display: flex;
	cursor: pointer;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 8px;
	border-radius: 8px;
	border: 1px solid #759de6;
	background: rgba(117, 157, 230, 0.2);
	color: var(--Black, #323232);
	&:hover {
		background: rgba(117, 157, 230, 0.39);
	}

	&--Title {
		color: #163877;
		font-family: Lato;
		font-size: 1.2rem;
		font-weight: medium;
		text-align: center;
		// Text Fill style: Dark BLue;
	}
	&--Delete {
		background: $color-dark-red-100;

		color: $color-dark-red-800;
		&:hover {
			background: $color-dark-red-200;
		}
	}
}
