.ContentNotFound {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&--Title {
		color: #323232;
		font-family: Lato;
		font-size: 14px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}
	&--SubTitle {
		color: #323232;
		font-family: Lato;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	&--TitlesDiv {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 5px;
	}
}
